---
- name: Expire modcluster cache and restart
  become: true
  block:
    - name: Check prereqs
      ansible.builtin.assert:
        that:
          - httpd is defined
          - httpd.home is defined

    - name: Stop JBCS
      ansible.builtin.service:
        name: "{{ jbcs_service_name }}.service"
        state: stopped

    - name: Clear modcluster cache
      ansible.builtin.file:
        path: "{{ httpd.home }}/httpd/cache/mod_cluster/"
        state: absent
    
    - name: Start JBCS
      ansible.builtin.service:
        name: "{{ jbcs_service_name }}.service"
        state: started
