# {{ ansible_managed }}
# This is the Apache server configuration file providing SSL support.
# It contains the configuration directives to instruct the server how to
# serve pages over an https connection. For detailing information about these
# directives see <URL:http://httpd.apache.org/docs/2.4/mod/mod_ssl.html>
#

Listen {{ jbcs_ssl_port }}

AddType application/x-x509-ca-cert .crt
AddType application/x-pkcs7-crl    .crl

SSLPassPhraseDialog exec:{{ httpd.home }}/httpd/sbin/httpd-ssl-pass-dialog

SSLSessionCache         shmcb:{{ httpd.home }}/httpd/run/sslcache(512000)
SSLSessionCacheTimeout  300

Mutex default

SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin

SSLCryptoDevice builtin

<VirtualHost _default_:{{ jbcs_ssl_port }}>

ErrorLog logs/ssl_error_log
TransferLog logs/ssl_access_log
LogLevel warn

SSLEngine on
SSLProtocol all -SSLv2
SSLCipherSuite HIGH:MEDIUM:!aNULL:!MD5

#SSLCipherSuite RC4-SHA:AES128-SHA:HIGH:MEDIUM:!aNULL:!MD5
#SSLHonorCipherOrder on

SSLCertificateFile /etc/pki/tls/certs/{{ jbcs_external_domain_name }}.crt
SSLCertificateKeyFile /etc/pki/tls/private/{{ jbcs_external_domain_name }}.key

<Files ~ \.(cgi|shtml|phtml|php3?)$>
    SSLOptions +StdEnvVars
</Files>
<Directory {{ httpd.home }}/httpd/www/cgi-bin>
    SSLOptions +StdEnvVars
</Directory>

BrowserMatch "MSIE [2-5]" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0

CustomLog logs/ssl_request_log "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

{% if jbcs_mod_cluster_enable %}
<Location /mcm>
    SetHandler mod_cluster-manager
    Require all granted
</Location>
{% endif %}

{% if jbcs_proxy_pass | default([]) | length > 0 %}
{% for proxy in jbcs_proxy_pass %}
        HostnameLookups Off
        UseCanonicalName Off
        ProxyPreserveHost On
        RequestHeader set X-Forwarded-Proto "https"
        RequestHeader set X-Forwarded-Port "443"
        ProxyPass {{ proxy.path }} {{ proxy.url }}
        ProxyPassReverse {{ proxy.reverse_path }} {{ proxy.reverse_url }}
{% endfor %}
{% endif %}

</VirtualHost>
